/* Reset some default styles for the list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: #333; /* Background color for the navigation bar */
}
/* Style the navigation bar */
nav {
    background-color: #333;
}

/* Style the navigation list */
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0;
}

/* Style the list items */
li {
    margin: 0;
    padding: 0;
}

/* Style the links */
a {
    text-decoration: none;
    color: #fff;
    transition: color 0.1s ease-in-out; /* Color transition effect */
}

/* Change link color on hover */
a:hover {
    color: #00bcd4;
    transform: scale(1.1); /* Scale up on hover */
}

/* Add animation on hover */
li:hover {
    animation: hangover 0.2s ease-in-out;
    animation-iteration-count: 1;
}

/* Keyframes for the animation */
@keyframes hangover {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}
