/* Reset some default styles for the list */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
nav {
    background-color: #333;
}

/* Style the navigation list */
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0;
}

/* Style the list items */
li {
    margin: 0;
    padding: 0;
}

/* Style the links */
a {
    text-decoration: none;
    color: #fff;
}

/* Change link color on hover */
a:hover {
    color: #00bcd4;
}
